[tool.poetry]
name = "fastapi-django"
description = "fastapi and django integration"
authors = ["Weiliang Li <to.be.impressive@gmail.com>"]
version = "0.1.0"
license = "MIT"

[tool.poetry.dependencies]
django = "^3.1"
fastapi = "^0.61.0"
pydantic = "^1.6.1"
python = "^3.8"
uvicorn = "^0.11.8"
whitenoise = "^5.2.0"

[tool.poetry.dev-dependencies]
black = "^20.8b0"
django-stubs = {git = "https://github.com/typeddjango/django-stubs.git"}
flake8 = "^3.8.3"
ipython = "^7.18.0"
mypy = "^0.782"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
